body
{
background-color: #1dc194;
margin: 0px;
}


.title1:hover
{
	background-color: #2255bb;
	
}

.title2:hover
{
	background-color: #BB1A6A;
	
}

.title3:hover
{
	background-color: #EEE5DA;
	}
  
  
#logo
{
	width: 100%;
	height: 210px;
	text-align: center;
	margin-top:10px;

	
	
}
  
#footer
{
	width: 100%;
	height: 25px;
}  
  
  
}